.container {
  display: flex;
  justify-content: center;
  background-color: #b6acd0;
 }

.dog {
  margin: 10px;
}

.btn {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: #3c08b6;
  color: #fff;
  padding: 10px;
  border: none;
  text-transform: uppercase;
}

h1 {
  letter-spacing: 2px;
  font-size: 30px;
  text-transform: uppercase;
  color: #003b58;
 }

 h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #003b58;
 }
